.body {
  background-color: white;
  color: black;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
  margin-left: 130px;
}

input {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 35%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.inputa {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 10%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.movie {
  margin-top: 30px;
  padding: 5px 15px 5px 15px;
  max-width: 25%;
  margin-left: 10%;
}

.navbar-nav {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  padding-left: 65%;
  list-style: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: x-large;
  line-height: inherit;
  white-space: nowrap;
}

.logo {
  font-weight: 400;
}

.shoppies {
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
}
